* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e09, #d0e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
  }
  
  .coming-soon-container {
    animation: fadeIn 2s ease-in-out;
  }
  
  .coming-soon-text {
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 20px;
    animation: text-reveal 2s ease-in-out forwards;
  }
  
  .countdown {
    display: flex;
    gap: 15px;
  }
  
  .countdown div {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes text-reveal {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  