*{
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.logotxt{
    color: #52575D;
}

.logo{
    margin-bottom: 20px;
    text-align: center;
}


body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #F6F4E6;
    min-height: 10%;
    margin: 10%;
}

.container{
    color: #FDDB3A;
    position: relative;
    width: 775px;
    max-width: 100%;
    min-height: 480px;
    background: #52575D;
    border-radius: 20px;
    overflow: hidden;
   box-shadow: 0 0 8px 4px #FDDB3A;
}

.sign-up , .sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up{
    width: 50%;
    z-index: 0;
}

.sign-in{
    width: 50%;
    z-index: 2;
}

form{
    background: #52575D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}

input{
    background: #F6F4E6;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}

a{
    color: #52575D;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    color: #52575D;
    background: #FDDB3A;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border: 1px solid #52575D;
    outline: none;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    border-radius: 20px;
}

button:active{
    transform: scale(0.90);
}

#signIn , #signUp{
    background-color: #52575D;
    border: 2px solid #52575D;
    color: #FDDB3A;
}

.container.right-panel-active .sign-up{
    transform: translateX(100%);
}

.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    position: relative;
    color:#52575D;
    left: -100%;
    height: 100%;
    width: 200%;
    background: #FDDB3A;
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-left , .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-left{
    transform: translateX(0);
}

.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

.social-container{
    margin: 20px 0;

}

.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #FDDB3A;
    box-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.2),  
    -3px 3px 5px rgba(0, 0, 0, 0.2),  
    3px -3px 5px rgba(0, 0, 0, 0.2),  
    -3px -3px 5px rgba(0, 0, 0, 0.2);
}
