* {
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}

body{
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;


}
.navbar {
    background: #FDDB3A;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
    color: #41444B;
}

.nav-li{
    list-style: none;
    display:inline-block;
}

.nav-li a{
    color: #41444B;
    font-size: 25px;
    margin-right: 40px;
}

button{
    background-color: #41444B;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: #FDDB3A;
    font-size: 25px;
    font-weight: bolder;
}

/* page  ------------------------------------------*/
.whole{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin-left: 210px;
    margin-top: 50px;
    width: 1127px;
    /* justify-content: space-around; */
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    
}

.box{
    margin: 15px;
    width: 518px;
    height: 350px;
    background-color: white;
    border-radius: 15px;

}

.left{
    margin-left: 30px;
}

.top{
    margin-top: 30px;
}

.name{
    display: flex;
    flex-wrap: wrap;
    /* height: 500px; */
}


.big{
    width: 220px;
    height: 170px;
}
.small{
    /* border: 1px solid red; */
    width: 30px;
    height: 40px;
    /* margin-bottom: 140px; */
}

.small img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

.big img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 20px;
}

.user{
    font-size: 1.7rem;
    width: 280px;
}

.profile-id{
    font-size: 1.5rem;
    color: rgb(113, 111, 111);
}

.xs{
    /* border: 1px solid red; */
    width: 45px;
    height: 20px;
    font-size: 17px;
    margin-left: 5px;
}

/* .certp{
    width: 320px;
} */

.rankp{
    width: 200px;
    color: rgb(2, 158, 2);
}

.yo{
    /* border: 2px solid red; */
    margin-bottom: 500px;
    margin-left: 5px;
    height: 110px;
}

.yo p{
    font-size: 18px;
}

.share{
    /* border: 2px solid red; */
    height: 40px;
    margin-left: 20px;
    margin-top: 65px;
    border-radius: 50px;
    width: 150px;
    background-color: #ffe355;
    /* align-items: center; */
}

.share:hover{
    background-color: #bca637;
}

.share p{
    padding-left: 30px;
    margin-top: 14px;
}

/* progress section ****************************** */

.progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cou{
    /* border: 1px solid red; */
    height: 45px;
    width: 400px;
    margin-top: -50px;
    border-radius: 30px;
    /* gap: -50px; */
    background-color: #FDDB3A;
}



.prog-head{
    width:500px;
    height: 50px;
    text-align: center;
    margin-top: 0px;
}

.prog-head p{
    font-size: 1.6rem;
    padding-bottom: 25px;
}

.cou p{
    padding-left: 40px;
    font-size: 20px;
    margin-top: 13px;
}

/* certificate section  **************************/

.certif{
    display: flex;
    flex-wrap: wrap;
}

.certHead{
    margin-top: 20px;
    /* border: 2px solid red; */
    height: 40px;
    width: 500px;
    font-size: 1.6rem;
    padding-left: 160px;

}

.cert{
    /* border: 2px solid red; */
    width: 300px;
    margin-left: 10px;

}

.plus-sign{
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    margin-top: 80px;
    margin-left: 10px;
    font-size: 1.8rem;
    background-color: #FDDB3A;
    border-radius: 50%;
}

.plus-sign:hover{
    background-color: #bca637;
}

.plus-sign p{
    margin-top: 15px;
    margin-left: 17px;
}

.cert img{
    width: 280px;
    border-radius: 10px;
}

.cert img:hover{
    filter: brightness(50%);
    cursor: pointer;
}

/* badges section  *******************************/

.badge{
    display: flex;
    flex-wrap: wrap;
}
.badgeHead{
    /* border: 2px solid red; */
    width: 600px;
    height: 50px;
}

.badgeHead p{
    font-size: 1.6rem;
    padding-left: 180px;
    margin-top: 20px;
}

.badgePic{
    /* border: 2px solid red; */
    height: 150px;
    width: 150px;
    margin-left: 16px;
    margin-top: -90px;
}

.badgePic img{
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.badgePic img:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.judiciary-prg-bar{
    background: greenyellow;
}

.judiciary-prg-bar:hover{
    background: green;
    color: yellow;
}

.Executive-prg-bar{
    background: red;
}

.Executive-prg-bar:hover{
    background: rgb(171, 28, 28);
    color: yellow;
}

.Legislative-prg-bar{
    background: orange;
}

.Legislative-prg-bar:hover{
    background: rgb(156, 112, 31);
    color: yellow;
}